
@font-face{
	font-family: 'Robot';
	src:url('../fuentes/MR\ ROBOT.ttf');
}
	header{
	width: 100%;
	background: rgba(0,0,0,.8);
	height: 70px;
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
}
/* moodificiacion del ancho */
.ancho{
	width: 90%;
	height: 70px;
	margin: auto;
	/*background: red;*/

}
.logo{
	width: 20%;
	height: 70px;
	float:left;
	box-sizing: border-box;

}
.logo p a{
	color: #fff;
	font-size: 40px;
	text-decoration: none;
	font-family: 'Robot';
}
nav{
	width: 80%;
	height: 70px;
	/*background: olive;*/
	float: left;
	text-align: right;
	padding-top: 15px;
	box-sizing: border-box;
}
nav ul li{
	display: inline; 
}
nav ul li a{
	color: #fff;
	font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 15px;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: 'Raleway';
}
nav ul li a:hover{
	color: #444;
}
@font-face{
	font-family: 'Raleway';
	src: url('../regular.ttf');
}
